<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="4772DavidKosorin.Videaesky" Publisher="CN=3F6BBF0B-1BD9-4F01-9A2F-274AE3341C1A" Version="3.0.0.8" />
  <mp:PhoneIdentity PhoneProductId="0989cbaf-5686-4fbe-87b5-8a42f2a48cbf" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Videa Česky</DisplayName>
    <PublisherDisplayName>David Kosorin</PublisherDisplayName>
    <Logo>Assets\LogoStore.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VideaCesky.App">
      <m3:VisualElements DisplayName="Videa Česky" Square150x150Logo="Assets\Tile.png" Square44x44Logo="Assets\LogoSmall.png" Description="Videa Česky" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\TileWide.png" Square71x71Logo="Assets\TileSmall.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
          <m3:Rotation Preference="landscape" />
          <m3:Rotation Preference="landscapeFlipped" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="videacesky">
            <Logo>Assets\VideaCeskyLogo.png</Logo>
            <DisplayName>Videa Česky</DisplayName>
          </Protocol>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>